* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(36, 36, 36);
    color: white;
}

.container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

p {
    margin-top: 3rem;
    text-align: center;
    font-size: 50px;
}

.d-none {
    display: none;
}